<owl-carousel-o [options]="InstaSliderConfig" *ngIf="instagram" class="no-arrow instagram">
  <ng-container *ngFor="let insta of instagram.data">
    <ng-template carouselSlide>
      <div>
        <a target="_blank" [href]="insta.permalink">
          <div class="instagram-box">
            <img [src]="insta.media_url" alt="Avatar" style="width:100%">
            <div class="overlay">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>