<div class="row">
    <div class="col">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="box-account box-info">
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="th-compare">
                                            <th class="item-row">Order #</th>
                                            <th class="item-row">Date</th>
                                            <th class="item-row">Order Total</th>
                                            <th class="item-row">Status</th>
                                            <th class="item-row">Action</th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let item of customerDetails.customerOrders.items | paginate: config">
                                        <td class="item-row">{{ item.id }}</td>
                                        <td class="item-row">{{ item.created_at }}</td>
                                        <td class="item-row">{{ item.grand_total }}</td>
                                        <td class="item-row">{{ item.status }}</td>
                                        <td class="item-row"><button [routerLink]="['/shop/checkout/success/', item.id, {source:'myOrders'}]"  class="eye"></button></td>
                                    </tr>
                                </table>
                            </div>
                            <pagination-controls
                            id="pagination_orders"  maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>