<div class="row">
    <div class="col">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="box-account box-info">
                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="th-compare">
                                            <th class="item-row">Order #</th>
                                            <th class="item-row">Date</th>
                                            <th class="item-row">Ship To</th>
                                            <th class="item-row">Order Total</th>
                                            <th class="item-row">Status</th>
                                            <th class="item-row">Action</th>
                                            <th class="item-row"></th>
                                        </tr>
                                    </thead>
                                    <tr *ngFor="let item of collection.data | paginate: config">
                                        <td class="item-row">{{ item.orderid }}</td>
                                        <td class="item-row">{{ item.orderdate }}</td>
                                        <td class="item-row">{{ item.shipto }}</td>
                                        <td class="item-row">{{ item.ordertotal }}</td>
                                        <td class="item-row">{{ item.status }}</td>
                                        <td class="item-row"><div class="eye"></div></td>
                                        <td class="item-row"><a href="javascript:void(0)">Reorder</a></td>
                                    </tr>
                                </table>
                            </div>
                            <pagination-controls
                            id="pagination_orders"  maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>