
 h2,
 .h2{
    color: #000;
    font-size: 30px;
    letter-spacing: .025em;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: capitalize;
    font-weight: normal;
}

a {
    color: #333;
  
}

p {
    line-height: 2;
    font-size: 16px;
}

::placeholder{
    color:#555;
    opacity: 0.5; 
    font-size:12px;
    font-family:"Oswald";
    text-transform: uppercase;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#555;
    opacity: 0.5; 
    font-size:12px;
    font-family:"Oswald";
    text-transform: uppercase;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:#555;
    opacity: 0.5; 
    font-size:12px;
    font-family:"Oswald";
    text-transform: uppercase;
  }
 
  .links-list {
      li {
        display: block;
        padding: 17px 16px 17px 25px;
        border-bottom: 1px solid #dedede;
        text-transform: uppercase;
        font-weight: 500;
         font-size: 14px;
         letter-spacing: 0.02em;
        &:hover {
            color: $black;
        }
        a {
                color: $secondary;
                cursor: pointer;
                 
              
                
        }
      }
  }
.product-name{
    line-height: 1.8;
    font-family: 'Oswald','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 14px;
    text-transform: uppercase;
}

.product-qty{
    .cart-item-qty{
        padding: 14px;
        width: 50px;
        font-size: 12px;
        line-height: 14px;
        vertical-align: baseline;
        background: $white;
        border: 1px solid #dedede;
        border-radius: 4px;
        text-align: center;
    }
}
.product-price {
    .price {
        font-weight: 300;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1px;
        color: $black;
    }
}
.sub-total {
        label {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 18px;
            line-height: 1;
            letter-spacing: 1px;
        }
        .price {
            color: $black;
            font-weight: 600;
            font-size: 24px;
        }
}


.subtitle {
    display: block;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.readmore {
    font-weight: 700;
    text-decoration: underline;
}
/*** SLider **/
.slick-dots {
    position: static;
}
.homePageBanner {
    img {
        max-width:100%;
    }
    .slick-dots {
        position: absolute;
        width: 20px;
        top: 50%;
    }
}


.square-dots {
    .owl-dots {
        position: absolute;
        width: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
.owl-dot {

        background: #cccccc;
        border: 1px solid #fff;
        border-radius: 0;
        height: 13px;
        margin: 8px 7px;
        opacity: 1;
        width: 13px;
        -webkit-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.58);
        -moz-box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.58);
        box-shadow: 0px 0px 3px 0px rgba(50,50,50,0.58);    
        &.active {
          background-color: $black; 
        }
        span {
         display:none !important;
        }
       
   
}
}
.fixed-top-arrow {
.slick-arrow{
    &.lnr-chevron-right{
      right: 5px;
    }
    &.lnr-chevron-left{
      right: 35px;
    }
        cursor: pointer;
        position: absolute;           
        top: -30px;
        width: 25px;
        height: 25px;
        border: 1px solid $grey;
        border-radius: 3px;
        transition: .3s all ease;
        font-size: 8px;
        padding: 0px;
        &:hover{
          border: 1px solid $secondary;
        }
        &:before{
          line-height: 25px;
          margin-left: 5px;
          font-weight: bold;
        }
    }
}

.product-item {
    -webkit-flex-basis: 25%;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    img {
        width: 100%;
    }
}

.service-block svg path {
    fill: #a95490 !important;
}

.shop-by {
    
    .category-m {
        &.top-arrow {
            .category-wrapper {
                padding:0px;
               .caption {
                    padding-left: 5px;
                    padding-right: 0;
                    padding-top: 15px;
                    h4 {
                        letter-spacing: .05em;
                        color: #333;
                        font-size: 17px;
                        text-transform: capitalize;
                        text-decoration: underline;
                        margin: 0 0 10px;
                        padding: 4px;
                        text-align: left;
                    }
                    p {
                        text-align: left;
                        font-size: 16px;
                    }
                }
            }
            .owl-item > div {
                margin: 0 8px;
            }
        }
        
      
    }
}
.top-arrow {
    .title {
        position: relative;
        .shopall {
            position: absolute;
            right: 60px;
            top: 10px;
            a {
                color: #000;
                text-decoration: underline;
                font-size: 17px;
            }
        }
    }
    .owl-theme {
        .owl-nav [class*='owl-'] {
           background: transparent;
           color:#000;
           font-size: 20px;

        }
    }
    .owl-prev {
        position: absolute;
        top:-35px;
        right:35px;
    }
    .owl-next {
        position: absolute;
        top:-35px;
        right:5px;
    }
}


@media(max-width: 767px) { 
     h2,
    .h2{
       
        font-size:22px;
    }
    .top-arrow {
        .title {
            .shopall {
                display: none;
            }
        }
}
    }

    .borderImg {
        border: 1px solid #000;
    }
    .stoneActive {
        border: 2px solid rgba(0, 0, 0, 0.6) !important;
        border-radius: 50%;
        padding: 1px;
    }
    #baseClipImage{pointer-events:none;}
.dyo-design-view {
    position:relative;
    margin-top:3px;
    .priceBoxHint {
        border: 2px solid #d6d6d6;
        border-radius: 50%;
        font-size: 15px;
        font-weight: 700;
        height: 72px;
        padding: 12px 5px 10px;
        position: absolute;
        right: 4px;
        text-align: center;
        top: 4px;
        width: 72px;
        z-index: 1;
        background: #fff;
         span {
            font-weight: 600;
            position: relative;
            top: 11px;
        }
        &:before {
            border: 1px solid #d6d6d6;
            border-radius: 50%;
            content: "";
            height: 62px;
            left: 3px;
            position: absolute;
            top: 3px;
            width: 62px;
        }
    }
}
    
@media only screen and (min-width : 320px) {
    #container2d{
      width: 290px;
      height: 296px;
    }
	
	#container2d label{
		font-size:8px
	 }
}
  
@media only screen and (min-width : 480px) {
    #container2d{
       height: 300px;
       width: 294px;
    }	
	#container2d label{
	   font-size:9px
	}
}
  
@media only screen and (min-width : 640px) {
    #container2d{
		width: 510px;
        height: 521px;      
    }	
	#container2d label{
		font-size:15px
	}
	#dyo-1-stone-ul-leftA, #dyo-1-stone-ul-rightA{
		display: none;
	}
}