<app-breadcrumb [title]="'Dashboard'" [breadcrumb]="'Dashboard'"></app-breadcrumb>
<!-- section start -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page_title">
                    <span class="text-capitalize">{{ dashboardTitle }}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="account-sidebar" (click)="ToggleDashboard()">
                    <a hre="javascript:void(0)" class="popup-btn">
                        my account
                    </a>
                </div>
                <div class="dashboard-left" [class.open]="openDashboard">
                    <div class="collection-mobile-back" (click)="ToggleDashboard()">
                        <span class="filter-back">
                            <i class="fa fa-angle-left" aria-hidden="true"></i> back
                        </span>
                    </div>
                    <div class="block-content">
                        <ul>
                            <li *ngFor="let item of menus; let i=index"
                                [ngClass]="{'active': selectedIndex == i, 'list-group-item': true}" >
                                <a href="javascript:void(0)"  (click)="select(i, item.text)" >{{ item.text }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-9">
                <div *ngIf="dashboardTitle === 'MY ACCOUNT'">
                    <app-dashboard-account [customerDetails]="customerDetails" ></app-dashboard-account>
                </div>
                <div *ngIf="dashboardTitle === 'MY ORDERS'">
                    <app-dashboard-orders [customerDetails]="customerDetails"></app-dashboard-orders>
                    
                </div>
                <div *ngIf="dashboardTitle === 'ADDRESS BOOK'">                    
                    <app-dashboard-address-book [customerDetails]="customerDetails"></app-dashboard-address-book>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- section end -->