<div class="row" *ngIf="customerDetails">
    <div class="col">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="box-account box-info">
                    <div class="box-head">
                        <h2>ACCOUNT INFORMATION</h2>
                        <!-- <div class="box-action text-right">
                            <a href="javascript:void(0)">EDIT ACCOUNT</a>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card">
                                <div class="box">
                                    <div class="box-title">
                                        <h3>Contact Information</h3>
                                        <a href="javascript:void(0)" class="action edit"></a>
                                    </div>
                                    <div class="box-content">
                                        <h6>{{ customerDetails.customer.firstname + ' ' + customerDetails.customer.lastname }}</h6>
                                        <h6>{{ customerDetails.customer.email }}</h6>
                                        <h6><a href="javascript:void(0)" class="action">Change Password</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card box">
                                <div class="box-title">
                                    <h3>Newsletters</h3>
                                    <a href="javascript:void(0)" class="action edit"></a>
                                </div>
                                <div class="box-content">
                                    <p>
                                        You are currently not subscribed to any newsletter.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br/>

<div class="row">
    <div class="col">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="box-account box-info">
                    <div class="box-head">
                        <h2>ADDRESS BOOK</h2>
                        <div class="box-action text-right">
                            <a href="javascript:void(0)">MANAGE ADDRESSES</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card box">
                                <div class="box-title">
                                    <h3>Default Billing Address</h3>
                                    <a href="javascript:void(0)" class="action edit"></a>
                                </div>
                                <div class="box-content">
                                    <address>
                                        You have not set a default billing address.<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card box">
                                <div class="box-title">
                                    <h3>Default Shipping Address</h3>
                                    <a href="javascript:void(0)" class="action edit"></a>
                                </div>
                                <div class="box-content">
                                    <address>
                                        You have not set a default shipping address.<br>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br/>


<div class="row">
    <div class="col">
        <div class="dashboard-right">
            <div class="dashboard">
                <div class="box-account box-info">
                    <div class="box-head">
                        <h2>RECENT ORDERS</h2>
                        <div class="box-action text-right">
                            <a href="javascript:void(0)">VIEW ALL</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="table-wrapper table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr class="th-compare">
                                            <th class="item-row">Order #</th>
                                            <th class="item-row">Date</th>
                                            <th class="item-row">Ship To</th>
                                            <th class="item-row">Order Total</th>
                                            <th class="item-row">Status</th>
                                            <th class="item-row">Action</th>
                                            <th class="item-row"></th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="item-row">000000046</td>
                                        <td class="item-row">8/29/20</td>
                                        <td class="item-row">sadagopan m</td>
                                        <td class="item-row">$4,558.10</td>
                                        <td class="item-row">New Orders</td>
                                        <td class="item-row"><div class="eye"></div></td>
                                        <!-- <td class="item-row"><a href="javascript:void(0)" class="action view"></a></td> -->
                                        <td class="item-row"><a href="javascript:void(0)">Reorder</a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>