<app-breadcrumb [title]="'Checkout'" [breadcrumb]="'Checkout'"></app-breadcrumb>

<section class="section-b-space">

    <div class="row" *ngIf="cart && cart.items">
        <div class="col">
            <!-- <div class="row order-review"  *ngIf="products.length"> -->
            <div class="row order-review">
                <div class="col-sm-12 productheader">
                    <h3 id="product">Order Review</h3>
                </div>
                <div></div>
                <div class="col-sm-12">
                    <table class="table cart-table table-responsive-xs">
                        <thead>
                            <tr class="table-head">
                                <th scope="col">Product</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let cartItem of cart.items">
                            <tr>
                                <td>
                                    <div class="mobile-cart-content row">                                        
                                        <div class="col-xs-3">
                                            <a [routerLink]="['/shop/product/no/sidebar/', cartItem.product.sku]">{{ cartItem.product.name | titlecase }}</a>
                                        </div>
                                        <!-- <div class="col-xs-3">
                                            <div class="qty-box">
                                                <div class="input-group">
                                                    <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="cartItem.quantity">
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-xs-3">
                                            <span class="td-color">
                                                <a (click)="removeItem(cartItem)" class="icon">
                                                    <i class="ti-close"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="qty-box">
                                        <div class="input-group">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-left-minus" data-type="minus" (click)="decrement(cartItem)">
                                                    <i class="ti-angle-left"></i>
                                                </button>
                                            </span>
                                            <input type="text" name="quantity" class="form-control input-number" disabled [(ngModel)]="cartItem.quantity">
                                            <span class="input-group-prepend">
                                                <button type="button" class="btn quantity-right-plus"  data-type="plus" (click)="increment(cartItem)">
                                                    <i class="ti-angle-right"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                                <td> 
                                    <span class="td-color">
                                        {{ ((cartItem.price) * cartItem.quantity) * productService?.Currency.price | currency:productService?.Currency.currency:'symbol' }}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table cart-table table-responsive-xs" *ngIf='cart && cart.items && cart.items.length'>
                        <tbody>
                            <tr class="table-head">
                                <th scope="col">CART SUBTOTAL</th>
                                <td>
                                    <span>{{ cart.prices.subtotal_excluding_tax.value | currency:productService?.Currency.currency:'symbol'}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table cart-table table-responsive-xs">
                        <tbody>
                            <tr class="table-head">
                                <th scope="col">GROUND CONTINENTAL US (2 TO 3 BUSINESS DAYS)</th>
                                <td>
                                    <span>$</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table cart-table table-responsive-xs">
                        <tbody>
                            <tr class="table-head">
                                <th scope="col">ORDER TOTAL</th>
                                <td>
                                    <span>$</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12">
                    <form class="discount-form">
                        <div class="input-box">
                            <input class="input-text" name="coupon" type="text" [(ngModel)]="couponCode" [disabled]="isCouponApplied" aria-placeholder="Enter coupon code here" placeholder="Enter coupon code here"/>
                        </div>
                        <div class="actions-button" *ngIf="!isCouponApplied">
                            <button id="add_coupon_code_button" (click)="applyCouponToCart()">Apply</button>
                        </div> 
                        <div class="actions-button" *ngIf="isCouponApplied">
                            <button id="remove_coupon_code_button" (click)="removeCouponFromCart()">Remove</button>
                        </div> 
                    </form>
                </div>
                <div class="col-sm-12">
                    <h5>Gift Message</h5>
                    <form>
                        <div class="input-box">
                            <input class="input-text" name="sender" type="text" [(ngModel)]="sender"/>
                        </div>
                        <div class="input-box">
                            <input class="input-text" name="recipient" type="text" [(ngModel)]="recipient"/>
                        </div>
                        <div class="input-box">
                            <input class="input-text" name="message" type="text" [(ngModel)]="message"/>
                        </div>
                        <div class="actions-button">
                            <button id="add_gift_mdg_button" (click)="addGiftMessageToOrder()">Save</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row shipping-address">
              <div class="col-sm-12">
                <div class="shippingaddrheader">
                    <h3 id="shippingaddr">SHIPPING ADDRESS</h3>
                    <a class="edit-osc" (click)="shippingAddressEditClick()" *ngIf="isShippingAddrEditVisible"
                     href="javascript:void(0);" title="Edit"></a>
                </div>
                <div></div>
                <div class="row check-out" *ngIf="isShippingAddrContentVisible">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">Email Address</div>
                        <input type="text" name="email" [formControl]="checkoutForm.controls['email']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.required" class="text text-danger">
                         Email is required
                        </div>
                        <div *ngIf="checkoutForm.controls.email.touched && checkoutForm.controls.email.errors?.email" class="text text-danger">
                         Invalid Email
                        </div>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">First Name</div>
                        <input type="text" name="firstname" [formControl]="checkoutForm.controls['firstname']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.required" class="text text-danger">
                        First Name is required.
                        </div>
                        <div *ngIf="checkoutForm.controls.firstname.touched && checkoutForm.controls.firstname.errors?.pattern" class="text text-danger">
                        First Name must be an alphabates.
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">Last Name </div>
                        <input type="text" name="lastname" [formControl]="checkoutForm.controls['lastname']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.required" class="text text-danger">
                        Last Name is required.
                        </div>
                        <div *ngIf="checkoutForm.controls.lastname.touched && checkoutForm.controls.lastname.errors?.pattern" class="text text-danger">
                        Last Name must be an alphabates.
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">Street Address</div>
                        <input type="text" name="streetAddress1" [formControl]="checkoutForm.controls['streetAddress1']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.streetAddress1.touched && checkoutForm.controls.streetAddress1.errors?.required" class="text text-danger">
                         Address is required
                        </div>
                        <div *ngIf="checkoutForm.controls.streetAddress1.touched && checkoutForm.controls.streetAddress1.errors?.maxlength" class="text text-danger">
                          Maximum 50 character
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">                        
                        <input type="text" name="streetAddress2" [formControl]="checkoutForm.controls['streetAddress2']" value="" placeholder="" autocomplete="off">                       
                        <div *ngIf="checkoutForm.controls.streetAddress2.touched && checkoutForm.controls.streetAddress2.errors?.maxlength" class="text text-danger">
                          Maximum 50 character
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">Country</div>
                        <select name="country" [formControl]="checkoutForm.controls['country']">
                            <option value="" selected>Select Country</option>
                            <option value="US">USA</option>
                        </select>
                        <div *ngIf="checkoutForm.controls.country.touched && checkoutForm.controls.country.errors?.required" class="text text-danger">
                         Country is required
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">City</div>
                        <input type="text" name="city" [formControl]="checkoutForm.controls['city']" value="" placeholder="" autocomplete="off">
                         <div *ngIf="checkoutForm.controls.city.touched && checkoutForm.controls.city.errors?.required" class="text text-danger">
                         City is required
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">Zip/Postal Code</div>
                        <input type="text" name="postcode" [formControl]="checkoutForm.controls['postcode']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.postcode.touched && checkoutForm.controls.postcode.errors?.required" class="text text-danger">
                         Postalcode is required
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <div class="field-label">State/Province</div>
                        <input type="text" name="state" [formControl]="checkoutForm.controls['state']" value="" placeholder="" autocomplete="off">
                         <div *ngIf="checkoutForm.controls.state.touched && checkoutForm.controls.state.errors?.required" class="text text-danger">
                         State is required
                        </div>
                    </div>                    
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div class="field-label">Phone Number</div>
                        <input type="text" name="telephone" [formControl]="checkoutForm.controls['telephone']" value="" placeholder="" autocomplete="off">
                        <div *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.required" class="text text-danger">
                         Phone No is required.
                        </div>
                        <div *ngIf="checkoutForm.controls.telephone.touched && checkoutForm.controls.telephone.errors?.pattern" class="text text-danger">
                          Phone No is must be number.
                        </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 align-items-right">
                        <button (click)="shippingAddressNextClick()">NEXT</button>
                    </div>

                </div>
              </div>
            </div>
            
            <div class="row shipping-method">
                <div class="col-sm-12">
                    <div class="shippingmethodheader">
                        <h3 id="shippingmethod">SHIPPING METHODS</h3>
                    </div>
                    <a class="edit-osc" (click)="shippingMethodEditClick()" *ngIf="isShippingMethodEditVisible"
                     href="javascript:void(0);" title="Edit"></a>
                </div>
                <div class="row check-out"  *ngIf="isShippingMethodContentVisible">
                    
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div *ngFor="let shippingmethod of cart.shipping_addresses[0].available_shipping_methods">
                            <input type="radio" class="" value="{{shippingmethod.carrier_code}}" name="shippingMethod" [(ngModel)]="selectedShippingMethod">
                            <label class="custom-control-label" for="ground">{{ shippingmethod.price_excl_tax.value  | currency:productService?.Currency.currency:'symbol'}}  {{ shippingmethod.carrier_title }}</label>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-12 col-sm-12 col-xs-12 align-items-right">
                        <button (click)="shippingMethodNextClick()">NEXT</button>
                    </div>
                </div>
              </div>
              
            <div class="row payment">
                <div class="col-sm-12">
                    <div class="paymentheader">
                        <h3 id="paymentheader">PAYMENT</h3>
                        <a class="edit-osc" (click)="paymentEditClick()" *ngIf="isPaymentEditVisible"
                         href="javascript:void(0);" title="Edit"></a>
                    </div>
                </div>
                <div class="row check-out"  *ngIf="isPaymentContentVisible">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <div *ngFor="let paymentmethod of cart.available_payment_methods">
                            <input type="radio" class="" value="{{paymentmethod.code}}" name="paymentmethod" [(ngModel)]="selectedPaymentMethod" (change)="setPaymentMethodOnCart()" >
                            <label class="custom-control-label" for="ground">{{ paymentmethod.title }}</label>
                        </div>
                    </div>                    
                </div>
              </div>
            
            <div class="row" *ngIf="isPaymentLinkVisible">
                <div class="col-sm-12">
                    <button (click)="placeOrder()">Place Order</button>
                </div>
            </div>
        </div>
    </div>
  </section>

