.footer-contant {
    .app-link {
        a {
            display: inline-block;
            padding:2px;
        }
    }
}

.footer-light {
    .subscribe-form {
        margin-top: 15px;
        justify-content: flex-start;
        flex-flow: row;
    }
}