<app-header-three [themeLogo]="themeLogo"></app-header-three>





<!-- Home slider start-->
<div class="placeholder-item"></div>
<section class="p-0 square-dots banner-desktop"  >
    <app-skeleton-banner-image *ngIf="bannersliders.length == 0"></app-skeleton-banner-image>
    <owl-carousel-o class="product-m no-arrow" *ngIf="bannersliders.length > 0" [options]="HomePageBannerSlider">
       
      <ng-container *ngFor="let slide of bannersliders">
        <ng-template carouselSlide>
          <div class="product-box">

                <img src="{{slide.DesktopImage}}">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>
 
<!-----Mobile -->
   <section class="p-0 mobile-banner square-dots"  *ngIf="bannerslidersMobile.length > 0">
    <app-skeleton-banner-image *ngIf="bannerslidersMobile.length == 0"></app-skeleton-banner-image>
    <owl-carousel-o class="product-m no-arrow" [options]="HomePageBannerSlider">
      <ng-container *ngFor="let slide of bannerslidersMobile ">
        <ng-template carouselSlide>
          <div class="product-box">
            <img src="{{slide.MobileImage}}">
          </div>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </section>

  
<!-- Home slider End -->


<!---Promo ---->
<!-- services start-->
<div class="container">
    <section class="service app-service-section">
        <app-services></app-services>
    </section>
</div>
<!-- services End -->

<div class="container features-block-section">
    <div class="row cm-row">
       <!-- <div class="col-sm-6 no-padding mb-20">
            <div class="thumbnail">
                <a href="#">
                    <img alt="Pair of diamond wedding rings" src="//css.brilliantearth.com/static/img/home/ir289/features/wedding-rings.jpg" class="img-fluid">
                </a>
                <div class="caption">
                    <a href="#" class="td-n2">
                        <h2 class="h2">Wedding Rings</h2>
                        <p class="max-w300">Browse ethical wedding rings to find the one that’s just right for you.</p>
                    </a>
                    <div>
                        <h3 class="shopnow"><a href="#">Shop Women's</a></h3>
                        <h3 class="shopnow"><a href="#">Shop Men's</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 no-padding mb-20">
            <div class="thumbnail">
                <a href="/sapphires/">
                    <img alt="Nature inspired sapphire engagement ring" src="//css.brilliantearth.com/static/img/home/ir289/features/gemstone-rings.jpg" class="img-fluid">
                </a>
                <div class="caption">
                    <a href="/sapphires/" class="td-n2"><h2 class="h2">Gemstone Rings</h2>
                        <p class="max-w400">From vivid blue sapphire to sparkling moissanite, explore our unique selection of
                            gemstone rings.</p>
                    </a>
                    <h3 class="shopnow"><a href="/sapphires/" class="ir251-link-text">Shop Gemstone Rings</a></h3>
                </div>
            </div>
        </div>-->


       <div class="col-sm-6 no-padding mb-20" *ngFor="let storySection_1 of storySectionOne">
            <div class="thumbnail">
                <a [href]="storySection_1.Link" class="td-n2">                 
                    <img [alt]="storySection_1.Description" [src]="storySection_1.Image" class="img-fluid">
                </a>
                <div class="caption">
                    <a [href]="storySection_1.Link" class="td-n2">
                        <h2 class="h2">{{storySection_1.Header_Text}}</h2>
                        <p class="max-w300">{{storySection_1.Description}}</p>
                    </a>
                    <div>
                        <h3 class="shopnow"><a href="#">{{storySection_1.Hyper_link_text}}</a></h3>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- category -->
<section class="section-b-space shop-by">
    <div class="container">
        <div class="row">
            <div class="col top-arrow">
			    <div class="title">
                    <h2 >Shop By Category</h2>
                    <div class="shopall">
                        <a href="#">Shop All</a>
                    </div>
				</div>	
                <app-shopbycategory [categories]="homePagefeaturedCategory" ></app-shopbycategory>
            </div>
        </div>
    </div>
</section>
<!-- category end -->

<!-- category -->
<section class="section-b-space shop-by">
    <div class="container">
        <div class="row">
            <div class="col top-arrow">
			    <div class="title">
                    <h2 >Fine Jewelry</h2>
                    <div class="shopall">
                        <a href="#">Shop All</a>
                    </div>
				</div>	
                <app-shopbycategory [categories]="fineJewelry" ></app-shopbycategory>
            </div>
        </div>
    </div>
</section>
<!-- category end -->

<!-- Story Section-->

<div class="container features-block-section">
    <div class="row cm-row">
    <div class="col-sm-6 no-padding mb-20" *ngFor="let storySection_2 of storySectionTwo">
            <div class="thumbnail">
                <a [href]="storySection_2.Link">
                    <img [alt]="storySection_2.Description"  [src]="storySection_2.Image" class="img-fluid">
                </a>
              
            </div>
        </div>
    </div>
</div>


<!-- category -->
<section class="section-b-space about-us-block">
    <div class="container">
        <div class="row">
            <div class="col">
			    <div class="title">
                    <h2>Riddle's Jewelry - Our Story</h2>
                </div>	
                <div class="about">
                    <p>In 1959, Jesse Riddle founded Riddle’s Jewelry, 60 years later we are still family owned and operated by the second generation and introducing the third. With over 60 stores across nine Midwest states, we have an unwavering commitment to providing the very best in jewelry selection, prices and best-in-class customer service.</p>
                    <p>At Riddle’s, we know we are selling more than just jewelry; we are helping you to celebrate life’s important relationships and events. As our founder Jesse Riddle said – “We are in the love business”. <a href="https://www.riddlesjewelry.com/about-us/">Read More</a></p>
                    <ul >
                        <li>
                        <div class="block-box">
                        <p><img src="assets/images/Riddles/FamilyOwned.jpg" alt=""></p>
                        <p>Family Owned &amp; Operated</p>
                        </div>
                        </li>
                        <li>
                        <div class="block-box">
                        <p><img src="assets/images/Riddles/Personalized.jpg" alt=""></p>
                        <p>Personalized Design</p>
                        </div>
                        </li>
                        <li>
                        <div class="block-box">
                        <p><img src="assets/images/Riddles/Service.jpg" alt=""></p>
                        <p>Top Rated Service</p>
                        </div>
                        </li>
                        <li>
                        <div class="block-box">
                        <p><img src="assets/images/Riddles/AmericanMade.jpg" alt=""></p>
                        <p>American Manufacturer</p>
                        </div>
                        </li>
                        </ul>
             </div>
            </div>
        </div>
    </div>
</section>
<!-- category end -->
<!--
<section class="pb-0 ratio_45">
    <div class="container">
        <div class="row partition2">
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner christmas-banner p-left text-left">
                        <div class="img-part bg-size blur-up lazyloaded" >
                            <img src="http://themes.pixelstrap.com/multikart/assets/images/christmas/sub-banner1.jpg" class="img-fluid bg-img blur-up lazyload" alt="" >
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>Christmas</h4>
                                <h2>gift box</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="#">
                    <div class="collection-banner christmas-banner p-right text-right">
                        <div class="img-part bg-size blur-up lazyloaded" >
                            <img src="http://themes.pixelstrap.com/multikart/assets/images/christmas/sub-banner2.jpg" class="img-fluid bg-img blur-up lazyload" alt="">
                        </div>
                        <div class="contain-banner">
                            <div>
                                <h4>go christmas</h4>
                                <h2>chocolate</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
-->


<!-- Product slider start
<div class="title1 section-t-space">
    <h2 class="title-inner1">Best Selling Products</h2>
  </div>
  <section class="section-b-space p-t-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <owl-carousel-o class="product-m no-arrow" [options]="ProductSliderConfig">
            <ng-container *ngFor="let product of bestSellingProducts">
              <ng-template carouselSlide>
                <div class="product-box">
             <app-product-box-simple 
                  [product]="product" 
                  [currency]="productService?.Currency"
                  [thumbnail]="true"
                  [cartModal]="true">
                </app-product-box-simple>
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section>
  -->
  <!-- Product slider End -->

<!--
<section class="p-0 overflow-cls">
    <div class="full-banner text-center p-center bg-size blur-up lazyloaded" >
        <img src="http://themes.pixelstrap.com/multikart/assets/images/christmas/parallax/1.jpg" alt="" class="bg-img blur-up lazyload">
        <div class="container content-c">
            <div class="row">
                <div class="col">
                    <div class="banner-contain christmas-contain">
                        <h3>New Collection Of Awesome Gift</h3>
                        <h2>End Of The Year <span>SALE</span></h2>
                        <h4>Get <span>50%</span> Extra Off</h4>
                        <a href="#" class="btn btn-solid" tabindex="0">shop now</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</section>
-->


<!-- category 
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
			    <div class="title4">
                    <h2 class="title-inner4">Shop By Category</h2>
                    <div class="line">
                        <span></span>
                    </div>
				</div>	
                <app-shopbycategory [categories]="homePagefeaturedCategory" ></app-shopbycategory>
            </div>
        </div>
    </div>
</section>-->
<!-- category end -->

<!--  logo section start
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <app-logo [logos]="logos"></app-logo>
            </div>
        </div>
    </div>
</section>-->
<!--  logo section End-->

<!-- timer banner 
<section>
    <div class="container">
        <div class="row banner-timer" [ngStyle]="{'background-image': 'url(assets/images/offer-banner-2.jpg)'}">
            <div class="col-md-6">
                <div class="banner-text">
                    <h2>Save <span>30% off</span> Digital Watch</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="timer-box">
                    <div class="timer">
                        <p id="demo">
                            <span>
                            11<span class='padding-l'>:</span><span class='timer-cal'>Days</span>
                            </span>
                            <span>
                            11<span class='padding-l'>:</span><span class='timer-cal'>Hrs</span>
                            </span>
                            <span>
                            11<span class='padding-l'>:</span><span class='timer-cal'>Min</span>
                            </span>
                            <span>
                            11<span class='timer-cal'>Sec</span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- timer banner end -->

<!-- category 
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col">
                <app-collection [categories]="categories" [category]="'watch'"></app-collection>
            </div>
        </div>
    </div>
</section>-->
<!-- category end -->

<!--  tab section 
<section class="p-0">
    <div class=" tab-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="title4">
                        <h2 class="title-inner4">trending products</h2>
                        <div class="line">
                            <span></span>
                        </div>
                    </div>
                    <div class="theme-tab">
                        <ngb-tabset [justify]="'center'" [type]="'pills'" class="tabs tab-title">
                            <ngb-tab *ngFor="let collection of productCollections">
                                <ng-template ngbTabTitle>{{collection}}</ng-template>
                                <ng-template ngbTabContent>
                                    <div class="row product-tab">
                                        <ng-container *ngFor="let product of getCollectionProducts(collection) | slice:0:8">
                                            <div class="tab-box">
                                                <div class="product-box2">
                                                    <app-product-box-vertical [product]="product" [currency]="productService?.Currency">
                                                    </app-product-box-vertical>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--  tab section end -->

<!-- product section 
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title4">
                    <h2 class="title-inner4">trending products</h2>
                    <div class="line">
                        <span></span>
                    </div>
                </div>
                <owl-carousel-o [options]="ProductSliderConfig" class="product-4 product-m no-arrow">
                    <ng-container *ngFor="let product of products">
                        <ng-template carouselSlide>
                            <div class="product-box product-wrap">
                                <app-product-box-two [product]="product" [currency]="productService?.Currency">
                                </app-product-box-two>
                            </div>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>-->
<!-- product section end -->

<!-- collection banner
<section>
    <div class="container">
        <div class="row partition3">
            <div class="col-md-4" *ngFor="let collection of collections">
                <a [routerLink]="['/shop/collection/left/sidebar']" [queryParams]="{ category: 'watch'}">
                    <div class="collection-banner p-left">
                        <img [src]="collection.image" class="img-fluid" alt="">
                        <div class="contain-banner banner-3" *ngIf="collection.title && collection.text">
                            <div>
                                <h4>{{collection.title}}</h4>
                                <h2>{{collection.text}}</h2>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section> -->
<!-- collection banner end -->

<!-- product-box 
<section class="section-b-space">
    <div class="full-box">
        <div class="container">
            <div class="title4">
                <h2 class="title-inner4">special products</h2>
                <div class="line">
                    <span></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="theme-card center-align">
                        <div class="offer-slider">
                            <div class="sec-1">
                                <div class="product-box2" *ngFor="let product of products | slice:0:2">
                                    <app-product-box-vertical [product]="product" [currency]="productService?.Currency">
                                    </app-product-box-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 center-slider">
                    <div>
                        <div class="offer-slider">
                            <div>
                                <div class="product-box product-wrap" *ngFor="let product of products | slice:4:5">
                                    <app-product-box-two [product]="product" [currency]="productService?.Currency">
                                    </app-product-box-two>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="theme-card center-align">
                        <div class="offer-slider">
                            <div class="sec-1">
                                <div class="product-box2" *ngFor="let product of products | slice:2:4">
                                    <app-product-box-vertical [product]="product" [currency]="productService?.Currency">
                                    </app-product-box-vertical>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- product-box end -->

<!-- blog section start
<section class="blog blog-bg section-b-space">
    <div class="container">
        <div class="title4">
            <h2 class="title-inner4">Recent Story</h2>
            <div class="line">
                <span></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-blog [blogs]="blogs"></app-blog>
            </div>
        </div>
    </div>
</section>-->
<!-- blog section end -->


<!-- Instagram section
<section class="instagram section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-md-12 p-0">
                <h2 class="title-borderless"># instagram</h2>
                <app-instagram></app-instagram>
            </div>
        </div>
    </div>
</section> -->
<!-- Instagram section End -->

<!-- Cart Open To Left Side-->
<app-cart-variation [direction]="'left'"></app-cart-variation>
<app-footer-one [themeLogo]="themeLogo"></app-footer-one>