
section, .section-t-space {
    padding-top: 15px;
}

.section-b-space {
    padding-bottom: 15px;
}
.app-service-section {
    padding:0px;
}

.features-block-section {
.row {
    &.cm-row {
        margin-left: 0;
        margin-right: 0;
        .mb-20 {
            margin-bottom: 20px;
        }
        .no-padding {
            padding-left: 0px;
            padding-right:0px;
        }

        .thumbnail {
                font-size: 16px;
                text-align: center;
                border: 0;
                padding: 0;
            .caption {
            padding: 15px 10px 10px 10px;
            color: #333;
            .max-w300 {
                max-width: 300px;
            }
            .max-w400 {
                max-width: 400px;
            }
            p {
                margin-top: 15px;
                margin-bottom: 15px;
                margin-left: auto;
                margin-right: auto;
                font-size: 16px;
            }
          
        }
        .shopnow {
           
            font-size: 17px;
            text-transform: capitalize;
            text-decoration: underline;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: .5em;
            margin-right: .5em;
            display: inline-block;
            line-height: inherit;
            a {
                color:#333;
            }
        }
    }
    }
    
}
}

.container {
    .title {
        margin-bottom: 20px;
   
    }
}

.about-us-block {
    .about {
        max-width: 900px;
        margin: 0px auto;
    }
    p {
        text-align: center;
    }
    ul {
        text-align: center;
        img {
            max-height: 60px;
        }
    }
}