<app-breadcrumb [title]="'Register'" [breadcrumb]="'Register'"></app-breadcrumb>
<!-- section start -->
<section class="register-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>create account</h3>
                <div class="theme-card">
                    <form class="theme-form">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">First Name</label>
                                <input [formControl]="registrationForm.controls['firstname']" type="text" class="form-control" id="fname" placeholder="First Name" required="">
                                <div *ngIf="registrationForm.controls.firstname.touched && registrationForm.controls.firstname.errors?.pattern" class="text text-danger">
                                    First Name must be an alphabates.
                                </div>
                                <div *ngIf="formSubmitted && registrationForm.controls.firstname.errors?.required" class="text text-danger">
                                    First Name is required
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="review">Last Name</label>
                                <input [formControl]="registrationForm.controls['lastname']" type="text" class="form-control" id="lname" placeholder="Last Name" required="">
                                <div *ngIf="registrationForm.controls.lastname.touched && registrationForm.controls.lastname.errors?.pattern" class="text text-danger">
                                    Last Name must be an alphabates.
                                </div>
                                <div *ngIf="formSubmitted && registrationForm.controls.lastname.errors?.required" class="text text-danger">
                                    Last Name is required
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                                <div class="col-md-6">
                                    <label for="email">Birth Month</label>
                                    <select [formControl]="registrationForm.controls['birthMonth']" class="form-control" >                                              
                                            <option *ngFor="let month of birthMonthOptions"  
                                                    value={{month.value}}>  
                                                {{month.label}}  
                                            </option>  
                                    </select> 
                                    <div *ngIf="formSubmitted && registrationForm.controls.birthMonth.errors?.required" class="text text-danger">
                                        Birth Month is required
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="review">Anniversary Month</label>
                                    <select [formControl]="registrationForm.controls['anniversaryMonth']" class="form-control">                                            
                                            <option *ngFor="let month of anniversatyMonthOptions"  
                                                    value={{month.value}}>  
                                                {{month.label}}  
                                            </option>  
                                    </select> 
                                    <div *ngIf="formSubmitted && registrationForm.controls.anniversaryMonth.errors?.required" class="text text-danger">
                                        Anniversary Month is required
                                    </div>
                                </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="email">email</label>
                                <input [formControl]="registrationForm.controls['email']" type="text" class="form-control" id="email" placeholder="Email" required="">
                                <div *ngIf="formSubmitted && registrationForm.controls.email.errors?.required" class="text text-danger">
                                    Email is required
                                </div>
                                <div *ngIf="registrationForm.controls.email.touched && registrationForm.controls.email.errors?.email" class="text text-danger">
                                    Invalid Email
                                </div>
                            </div>
                           
                            <div class="col-md-6">
                                <label for="review">Password</label>
                                <input [formControl]="registrationForm.controls['password']" type="password" class="form-control" id="review" placeholder="Enter your password" required="">
                                <div *ngIf="formSubmitted && registrationForm.controls.password.errors?.required" class="text text-danger">
                                    Password is required
                                </div>
                                <div *ngIf="registrationForm.controls.password.touched && registrationForm.controls.password.errors?.pattern" class="text text-danger">
                                        Minimum eight characters, at least one uppercase letter, one lowercase letter, one number and one special character
                                    </div>
                            </div>
                            <button type="submit" (click)="registerCustomer()" class="btn btn-solid">create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->